/* a {
  color: #00B7FF;
}
html,
body {

}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

main{
  color: #ecf0f1;
}

.form-signin {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#generator{
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #007DA6;
  cursor: pointer;
}

#generator:hover{
  background-color: #007DA6;
}



/* disabling input arrow */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/*
input[type=number] {
  -moz-appearance: textfield;
}

label{
  margin-top: 10px;
  position: relative;
}


a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

.button {
  background-color: #007DA6;
  border: 0;
  cursor: pointer;
}



.form-control{
  color: #ecf0f1;
  background-color: transparent;
  outline: none;
  border:none;
  border-bottom: 1px solid #007DA6;
  padding: 5px 10px;
  margin: 10px;
}

.form-control:focus{
  color: #ecf0f1;
  background-color: transparent;
  outline: none;
  border:none;
  border-bottom: 1px solid #007DA6;
  padding: 5px 10px;
  margin: 10px;
} */


/* just bootstrap example style */
/* .container {
  max-width: 960px;
} */

/*
 * Custom translucent site header
 */

/* .site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
} */


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

#firstRow{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(../images/istanbul-bosphorus-bridge-at-sunset-with-car-traff-HHLNF7M.jpg);
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;  
  box-sizing: border-box;
}



.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


/* social icons */
.fab{
  font-size: 35px;
  color: aliceblue;
  }
  
  .fa-facebook:hover {
    color: #4267B2;
  }
  
  .fa-youtube:hover {
    color: #FF0000;
  }
  
  .fa-instagram:hover {
    color: #fb3958;
  }

  .fa-whatsapp:hover {
    color: #25D366;
  }
  
  .white{
    color: #F2F3F3;
  }

  .form-control{
    margin-top: 10px;
  }

  #fullName{
    margin-bottom: 10px !important;
  }

  #phone{
    padding-right: none !important;
  }

  /* submit btn */
  #generator{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #007DA6;
    cursor: pointer;
  }
  
  #generator:hover{
    background-color: #007DA6;
  }
